@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
$font-Poppins: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$font-OpenSans: 'Open Sans', sans-serif;
/*Colors*/
$color-p-Pink: hsl(322, 100%, 66%);
$color-n-Very-Pale-Cyan: hsl(193, 100%, 96%);
$color-n-Very-Dark-Cyan: hsl(192, 100%, 9%);
$color-n-Grayish-Blue: hsl(208, 11%, 55%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);



/*Base styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*Font styling*/
h1{
    font: 600 1.5rem $font-Poppins;
    text-align: center;
    color: $color-n-Very-Dark-Cyan;
}
p.title{
    font: 400 1rem $font-OpenSans;
    text-align: center;
    color: $color-n-Very-Dark-Cyan;
    line-height: 1.5rem;
}
h2{
    font: 600 1.25rem $font-Poppins;
    text-align: center;
    color: $color-n-Very-Dark-Cyan;
}
p.text{    
    font: 400 .875rem $font-OpenSans;
    text-align: center;
    color: $color-n-Grayish-Blue;
    line-height: 1.3125rem;
}
/*Button font styling*/
a.btn_h1{
    font: 700 .8125rem $font-OpenSans;
    text-align: center;
    letter-spacing: -0.6px;
}
a.btn_h2,
a.btn_h3{
    font: 700 .625rem $font-OpenSans;
    text-align: center;
}
/*Page styling*/
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ctn{
        max-width: 90rem;
        width: 100%;
        min-width: 23rem;
        height: auto;
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}



@media only screen and (min-width: 62.5rem) {
    /*Font styling*/
    h1{
        font-size: 2.5rem;
        text-align: start;
    }
    p.title,
    p.text{
        font-size: 1.125rem;
        text-align: start;
        line-height: 1.6875rem;
    }
    h2{
        font-size: 1.75rem;
    }
    /*Button font styling*/
    a.btn_h1{
        font-size: .9375rem;
        letter-spacing: -0.6px;
    }
    a.btn_h2{
        font-size: .875rem;
    }
    a.btn_h3{
        font-size: 1.25rem;
    }
}